<h1>New Posts Will Be Made Here</h1>

<%=	form_for :post, url: posts_path do |f| %>
	<p>
		<%= f.label :title %> <br>
		<%= f.text_field :title %> <br> 

		<%= f.label :body %> <br>
		<%= f.text_area :body %> <br>

		<%= f.submit %>
	</p>
<% end %>
